<h2 mat-dialog-title [attr.color]="data.themeColor">Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <div class="mat-dialog-content-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis eleifend diam. Sed in sagittis nibh. Donec a
      egestas est. Aliquam hendrerit venenatis laoreet. Donec eu dui non elit sagittis molestie. Praesent imperdiet
      bibendum diam at iaculis. Aenean id elit eget libero cursus aliquet eget sit amet mi.</p>

    <p>Cras sed ultrices urna. Maecenas eu erat tincidunt, tristique purus vel, scelerisque ante. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Morbi elementum mollis ante nec mattis. Duis sit amet lacinia turpis. Fusce eu
      euismod sem, sit amet sollicitudin metus. Mauris id congue ipsum. Proin quam erat, scelerisque eget facilisis
      faucibus, blandit at enim. Mauris vestibulum condimentum neque, at placerat massa lobortis ac. Praesent fringilla
      gravida ornare. Sed tincidunt ipsum at augue vehicula commodo.</p>

    <p>Morbi pharetra purus et velit mattis, a bibendum mi lobortis. Phasellus eu vulputate augue. Morbi tristique
      sodales justo in bibendum. Nunc pretium sem sed nisi placerat, ut maximus lorem suscipit. Sed magna dui, congue
      non ornare sit amet, ullamcorper quis ex. Suspendisse tincidunt nec nunc non venenatis. Morbi et aliquet lacus.
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
